<!-- Features -->
<section id="features" class="my-5">
  <div class="container">
    <h1 class="text-center mb-4">{{ featuresDataReceive.sectionTitle }}</h1>
    <div class="row">
      <ng-container *ngFor="let feature of featuresDataReceive.features">
        <div class="col features text-center" *ngIf="feature.isActive">
          <img src="./assets/images/{{ feature.image }}" alt="" />
          <div class="text-center">
            <h4>{{ feature.title }}</h4>
            <p>
              {{ feature.text }}
            </p>
          </div>
        </div>
      </ng-container>
      <!-- <div
        class="col features text-center"
        *ngIf="featuresDataReceive.feature2.isActive"
      >
        <img
          src="./assets/images/{{ featuresDataReceive.feature2.image }}"
          alt=""
        />
        <div class="text-center">
          <h4>{{ featuresDataReceive.feature2.title }}</h4>
          <p>
            {{ featuresDataReceive.feature2.text }}
          </p>
        </div>
      </div>
      <div
        class="col features text-center"
        *ngIf="featuresDataReceive.feature3.isActive"
      >
        <img
          src="./assets/images/{{ featuresDataReceive.feature3.image }}"
          alt=""
        />
        <div class="text-center">
          <h4>{{ featuresDataReceive.feature3.title }}</h4>
          <p>
            {{ featuresDataReceive.feature3.text }}
          </p>
        </div>
      </div>
      <div
        class="col features text-center"
        *ngIf="featuresDataReceive.feature4.isActive"
      >
        <img
          src="./assets/images/{{ featuresDataReceive.feature4.image }}"
          alt=""
        />
        <div class="text-center">
          <h4>{{ featuresDataReceive.feature4.title }}</h4>
          <p>
            {{ featuresDataReceive.feature4.text }}
          </p>
        </div>
      </div> -->
    </div>
  </div>
</section>
<!-- End Features -->
