<app-header (sendSearch)="onEventSearch($event)"></app-header>
<!-- Main -->
<main id="main">
  <app-carousel></app-carousel>
  <app-destaque
    [featuresDataReceive]="data.features"
    (sendFeatures)="onFeaturesCreated($event)"
  ></app-destaque>
  <app-sobre
    [aboutData]="data.about"
    (elementCreated)="onElementCreated($event)"
  ></app-sobre>
  <app-endereco
    [addressDataReceive]="data.address"
    (addressCreated)="onAdressCreated($event)"
  ></app-endereco>
  <app-contato (sendForm)="onContactFormSubmitted($event)"></app-contato>
</main>
<!-- End Main -->

<app-footer></app-footer>
